body {
    max-width: 100%;
}

.icon-custom {
    color: rgb(72, 117, 5) !important;
    font-size: xx-large;
    padding: 15px;
}

.switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 60px;
    height: 34px;
}

.switch .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    box-shadow: 1px 1px 5px 0 #2b8d38;
    transition: 700ms ease;
    border-radius: 34px;
}

.icon-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 8px;
    z-index: 1;
}

.bi-moon-stars, .bi-emoji-sunglasses {
    color: #222;
    font-size: 20px;
    transition: opacity 0.3s ease;
}



.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: #17c32b;
    box-shadow: inset 1px 1px 2px 0px #17c32b;
    transition: 500ms ease;
    border-radius: 50%;
}

.checkbox:checked + .slider {
    box-shadow: 1px 1px 5px 0 #1a4e20;
}

.checkbox:checked + .slider:before {
    transform: translateX(26px);
    background: #1a4e20;
    box-shadow: inset -1px 1px 2px 0px #41ac6f;
}

.checkbox:checked ~ .icon-container .bi-emoji-sunglasses {
    opacity: 0;
}

.checkbox:not(:checked) ~ .icon-container .bi-moon-stars {
    opacity: 0;
    color: #fff ;
}

.dark-navbar {
    transition: 0.75s;
    background-color: #d7ffde !important;
}

.dark-card {
    transition: 0.75s;
    background-color: #d7ffde !important;
}



#save-button {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0.75rem 1.50rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.10rem;
    transition: all 0.1s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#save-button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 190, 90);
    border-radius: 10rem;
    z-index: -2;
}

#save-button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #057212;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

#save-button:hover {
    color: #fff;
}

#save-button:hover:before {
    width: 100%;
}

/* optional reset for presentation */
* {
    font-family: Arial;
    text-decoration: none;
    font-size: 16px;
}

.favorited-task {
    background-color: #fbf729 !important;
}

.completed-task {
    background-color: #85F675 !important;
}

#warning-button {
    margin-right: 10px;
    font-size: large;
}


#main-content {
    transition: 0.75s;
    background-color: #d7ffde;
    min-height: 87vh;
    
}

.dark-mode {
    transition: 0.75s;
    background-color: #1a4e20 !important;
}

.list-group-item.card {
    box-shadow: 0px 6px 10px rgba(0, 0, 0.5, 0.5);
    /* Kartlara gölge efekti */
    border-radius: 8px;
    /* Yuvarlatılmış köşeler */
}

.removed-task {
    box-shadow: none;
}